<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Email:</strong>
  <a href="mailto:<%= @user.email %>"><%= @user.email %></a>
</p>

<p>
  <strong>Latest post:</strong>
  <%= @user.microposts.length > 0 ? @user.microposts.last.content : "No microposts by the user" %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
